*.json
*.jpg
*.pyc
*.caffemodel
*.tgz
.ipynb_checkpoints
logs/
tests/
saved_caffe_weights_fashion/
lib/build
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
output/
data/fashion2017/
fashion_weights/
